<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>
  <h1>from AppComponent</h1>
  <hr />
  <app-test></app-test>
  <hr />
  <h1 style="color: purple">Interpolation</h1>
  <app-interpolation></app-interpolation>
  <hr />
  <h1 style="color: purple">property-binding</h1>
  <app-property-binding></app-property-binding>
  <hr />
  <h1 style="color: purple">class-binding</h1>
  <app-class-binding></app-class-binding>
  <hr />
  <h1 style="color: purple">style-binding</h1>
  <app-style-binding></app-style-binding>
  <hr />
  <h1 style="color: purple">event-binding</h1>
  <app-event-binding></app-event-binding>
</div>

<router-outlet></router-outlet>
