<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>
  <h1>from AppComponent</h1>
  <hr />
  <app-test></app-test>
  <hr />
  <h1 style="color: purple">Interpolation</h1>
  <app-interpolation></app-interpolation>
  <hr />
  <h1 style="color: purple">property-binding</h1>
  <app-property-binding></app-property-binding>
  <hr />
  <h1 style="color: purple">class-binding</h1>
  <app-class-binding></app-class-binding>
  <hr />
  <h1 style="color: purple">style-binding</h1>
  <app-style-binding></app-style-binding>
  <hr />
  <h1 style="color: purple">event-binding</h1>
  <app-event-binding></app-event-binding>
  <hr />
  <h1 style="color: purple">event-binding</h1>
  <app-template-refrence-variables></app-template-refrence-variables>
  <hr />
  <h1 style="color: purple">two-way-binding</h1>
  <app-two-way-binding></app-two-way-binding>
  <hr />
  <h1 style="color: purple">ngif-directive</h1>
  <app-ngif-directive></app-ngif-directive>
  <hr />
  <h1 style="color: purple">ngswitch-directive</h1>
  <app-ngswitch-directive></app-ngswitch-directive>
  <hr />
  <h1 style="color: purple">ngfor-directive</h1>
  <app-ngfor-directive></app-ngfor-directive>
  <hr />
  <h1 style="color: purple">app-component-interaction</h1>
  <app-component-interaction [parentData]="name"></app-component-interaction>
</div>

<router-outlet></router-outlet>
